@import '../../assets/main-styles.scss';

.button {
  background-color: $active-btns-color;
  padding: 5px 15px;
  color: $light-text-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  @include main-font(400, 0.75rem, 0.75rem);

  &:hover {
    filter: grayscale(.2);
  }
}

.button_at-card {
  background: transparent;
  color: $active-btns-color;
  position: absolute;
  bottom: 10px;
  right: 10px;

  &:hover {
    filter: grayscale(.5);
  }
}

.button_edit-form {
  padding: 6px 12px;
  @include main-font(400, 0.75rem, 0.875rem);
  margin-right: 4px;
}
.button_send-form{
  display: block;
  padding: 5px 8px 5px 15px;
  background-color: $color-send-btn;
 margin: 10px 0 0 auto;

}
.button_send-form:disabled{
  background-color: $color-disabled-btns
}