@import '../../assets/main-styles.scss';

.sidebar {
  box-sizing: border-box;
  width: 152px;
  height: auto;
  background-color: $dark-background-color;
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  .sidebar__paragraf {
    margin: 0;
    @include main-font(400, 0.75rem, 0.875rem)
  }
}