@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


$light-background-color: #F3F3F3 ;
$dark-background-color: #A3A3A3;
$color-disabled-btns: #AFAFAF;
$color-send-btn: #52CF4F;
$active-btns-color: #4B51EF;
$light-text-color: #FFFFFF;
$dark-text-color: #000000;
$border-color: #D8D8D8;
$color-of-error:#D91313;
$service-text-color: #A3A3A3;
%content-wrapper {
  width: 100%;
  max-width: 513px;
  padding: 19px 59px 25px 34px;
  min-height: 100vh;
  box-sizing: border-box;
}

@mixin main-font($weight, $size, $height) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
body {
  margin: 0;
  @include main-font(400, 16px, 16px)
}
#root{
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 665px;
}